<footer class="footer">
	<div class="container-fluid">
		<div class="row justify-content-center">

			<div class="col-md">
				<div class="footer-name d-none d-md-block">Дизайн интерьера и<br>архитектурное проектирование в<br>Самаре и Санкт-Петербурге</div>					
				<div class="footer-name d-md-none text-center">Дизайн интерьера и архитектурное проектирование в Самаре и Санкт-Петербурге</div>	
				<ul class="footer-requisites d-none d-md-block">
					<li>© WRIGHT FORM 2019</li>
					<li>ИНН 631226646900</li>
					<li>ОГРН 319631300111577</li>
				</ul>
			</div>

			<div class="col-auto col-md">
				<div class="row">
					<div class="col-auto gutter-custom">
						<div class="footer-logo">
							<span class="logo-img"></span>
						</div>
					</div>
					<div class="col gutter-custom">

						<ul class="footer-contact">
							<li>Тел.: <a class="footer-tel target-ym-phone" href="tel:89171180270">{{site.telephone}}</a></li>
							<li>или <a class="footer-tel target-ym-phone" href="tel:89171180270">⠀{{site.telephone-second}}</a></li>
							<li>Часы работы: Пн-Пт: 10:00 - 19:00</li>
							<li>E-mail: <a class="footer-email" href="mailto:office@wrfrm.com">office@wrfrm.com</a></li>
							<li>Самара и Санкт-Петербург</li>
						</ul>
												
						<div class="footer-social">
							<a class="social-link-circle-light" href="{{site.vk}}" rel="nofollow" target="_blank">
								<span class="fa fa-vk"></span>
							</a>
							<a class="social-link-circle-light" href="{{site.facebook}}" rel="nofollow" target="_blank">
								<span class="fa fa-facebook"></span>
							</a>
							<a class="social-link-circle-light" href="{{site.instagram}}" rel="nofollow" target="_blank">
								<span class="fa fa-instagram"></span>
							</a>
						</div>

					</div>
				</div>
			</div>

			<div class="d-md-none col-12 text-center">
				<ul class="footer-requisites">
					<li>© WRIGHT FORM 2019</li>
					<li>ИНН 631226646900</li>
					<li>ОГРН 319631300111577</li>
				</ul>
			</div>

		</div>
	</div>

</footer>
<!--	
<link rel="stylesheet" href="css/main.min.css">
-->
<script src="js/scripts.min.js"></script>

</body>
</html>
