<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<base href="{{ site.baseurl }}">

	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="{{ page.imagehome }}">
	<link rel="canonical" href="{{ site.url }}{{ page.url }}">
	<link rel="icon" href="img/favicon/favicon-48x48.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="{{ site.themecolor }}">

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-5JHLRC8');</script>
	<!-- End Google Tag Manager -->
	<link rel="stylesheet" href="css/main.min.css">
	{{ include.jivosite }}
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JHLRC8" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->