<header class = "main-header">
	<div class="main-header-background" style="background-image: url(img/header-img.jpg)"></div>
	<div class="main-header-background-overlay"></div>
	<div class="container-fluid">
		<div class="row justify-content-center">

			<div class="col-auto">
				<div class="header-letters">
					<ul class="header-letters-wright">
						<li><img src="img/letters/W.svg" alt="W"></li>
						<li><img src="img/letters/R.svg" alt="R"></li>
						<li><img src="img/letters/I.svg" alt="I"></li>
						<li><img src="img/letters/G.svg" alt="G"></li>
						<li><img src="img/letters/H.svg" alt="H"></li>
						<li><img src="img/letters/T.svg" alt="T"></li>
					</ul>
					<ul class="header-letters-form">
						<li><img src="img/letters/F.svg" alt="F"></li>
						<li><img src="img/letters/O.svg" alt="O"></li>
						<li><img src="img/letters/R.svg" alt="R"></li>
						<li><img src="img/letters/M.svg" alt="M"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-auto">
				<div class="main-header-projectTypes" id="mainHeaderProjectTypes">ДИЗАЙН ЖИЛЫХ ИНТЕРЬЕРОВ</div>
			</div>
		</div>
	</div>

	<div class="text-center gutter-custom">
		<a href="{{ site.url-portfolio }}" class="ref-button-black" id=mainHeaderProjectsButton>Посмотреть проекты</a>
	</div>	
</header>