<section class="main-services clearfix">	
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-12">					
				<h2>Наши услуги</h2>
			</div>
		</div>
		
		<!-- Основные услуги-->
		<div class="row">
			<div class="col-md-6">
				<div class="main-services-item">
					<h4>Дизайн интерьера</h4>
					<a href="{{ site.url-interior }}">
						<div class="main-services-item-image">
								<img src="{{ site.image-interior }}" alt="Разработка дизайна интерьера частных, коммерческих и общественных помещений">
								<div class="overlay-img-white">от {{site.price-interior}}</div>
						</div>
					</a>
					<p>Создание дизайн-проектов частных, коммерческих и общественных помещений.</p>
					<div class="main-services-button">
						<a href="{{ site.url-interior }}" class="ref-button-light">Подробнее</a>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="main-services-item">
					<h4>Архитектурный проект</h4>
					<a href="{{ site.url-architecture }}">
						<div class="main-services-item-image">
							<img src="{{ site.image-architecture }}" alt="Разработка архитектурного проекта частных домов, коттеджей, конструкций и сооружений">
							<div class="overlay-img-white">{{site.price-architecture}}</div>
						</div>
					</a>
					<p>Индивидуальное проектирование частных домов, коттеджей, конструкций и сооружений.</p>
					<div class="main-services-button ">
						<a href="{{ site.url-architecture }}" class="ref-button-light">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /end Основные услуги-->

		<div class="row main-services-prolog">
			<div class="col text-center">
				<p>Мы развиваемся в разных направлениях и можем предложить вам:</p>
			</div>
		</div>
		
		<!-- Другие услуги -->
		<div class="row no-gutters main-services-second">				
		
				<div class="row no-gutters main-services-second-item-workshop">
					<div class="col-12 col-md-6">
				
						<div class="main-services-second-item-text">
							<h4>Декорирование</h4>
							<p class="d-none d-md-block">Декорирование позволяет вдохнуть жизнь в интерьер, создать уютную атмосферу и расставляя правильные акценты в интерьере преподнести пространство с лучшей стороны.</p>
							<!-- Подбираем и разрабатываем различные элементы декора и мебель.-->
							<div class="main-services-button d-none d-md-block">
								<a href="{{ site.url-decor }}" class="ref-button-light">Подробнее</a>
							</div>
						</div>
				
					</div>
					<div class="col-12 col-md-6">
				
						<div class="main-services-second-item-img">
							<a href="{{ site.url-decor }}">
								<div class="main-services-item-image">
									<img src="{{ site.image-decor }}" alt="Декорирование">
									<div class="overlay-img-white">{{site.price-decor}}</div>
								</div>
							</a>
							<p class="d-block d-md-none">Декорирование позволяет вдохнуть жизнь в интерьер, создать уютную атмосферу и расставляя правильные акценты в интерьере преподнести пространство с лучшей стороны.</p>
							<div class="main-services-button d-block d-md-none">
								<a href="{{ site.url-decor }}" class="ref-button-light">Подробнее</a>
							</div>
						</div>
				
					</div>
				</div>
		
				<div class="row no-gutters main-services-second-item-repair">
					<div class="col-12 col-md-6">
				
						<div class="main-services-second-item-img">
							<h4 class="d-block d-md-none">Ремонт под ключ</h4>
							<a href="{{ site.url-build }}">
								<div class="main-services-item-image">
									<img src="{{ site.image-build }}" alt="Ремонт под ключ">
									<div class="overlay-img-white">{{site.pice-build}}</div>
								</div>
							</a>
						</div>
				
					</div>
					<div class="col-12 col-md-6">
				
						<div class="main-services-second-item-text">
							<h4 class="d-none d-md-block">Ремонт под ключ</h4>
							<p>Наши подрядчики смогут воплотить задуманный проект в реальную жизнь. Достигнутое взаимопонимание 
								на опыте прошлых реализованных проектов значительно упрощает и ускоряет процесс работы.</p>
							<div class="main-services-button">
								<a href="{{ site.url-build }}" class="ref-button-light">Подробнее</a>
							</div>
						</div>
				
					</div>
				</div>

		</div>
		<!-- /end - Другие услуги-->

		<div class="row">
			<div class="col text-center">
				<div class="main-services-more-button">
					<a href="/uslugi/" class="ref-button-light">посмотреть Все услуги</a>
				</div>
			</div>
		</div>

	</div>
</section>