<section class="main-services clearfix">	
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-12">					
				<h2>Наши услуги</h2>
			</div>
		</div>

		<!-- Основные услуги-->
		<div class="row">
			<div class="col-md-6 main-services-col">
				<div class="main-services-item">
					<h4>Дизайн жилых интерьеров</h4>
					<a href="{{ site.url-interior }}">
						<div class="main-services-item-image interior">
								<img src="{{ site.image-interior }}" alt="Разработка дизайн-проектов для домов и квартир">
								<div class="overlay-img-white">

{% capture price %}
от {{site.price-interior}}
{% endcapture %}
{% if site.sale == true %}
{% capture price %}
<div class="overlay-img-white-text">
	<strike>от {{site.price-interior}}</strike><br>от {{site.sale-price-interior}}
</div>
{% endcapture %}
{% endif %}
									<div class="overlay-img-white-text">
										{{ price }}
									</div>
								</div>
						</div>
					</a>
					<!-- <p>Разработка дизайн-проектов для домов и квартир. Создаем индивидуальное ДНК для вашего интерьера.</p> -->
					<div class="main-services-button">
						<a href="{{ site.url-interior }}" class="ref-button-light">Подробнее</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 main-services-col">
				<div class="main-services-item">
					<h4>Дизайн интерьеров для бизнеса</h4>
					<a href="{{ site.url-interior-commerce }}">
						<div class="main-services-item-image">
							<img src="{{ site.image-interior-commerce }}" alt="Создаем эргономичные и имиджевые пространства под конкретные задачи бизнеса">
							<div class="overlay-img-white"> 

{% capture price-commerce %}
от {{site.price-interior-commerce}}
{% endcapture %}
{% if site.sale == true %}
{% capture price-commerce %}
<div class="overlay-img-white-text">
	<strike>от {{site.price-interior-commerce}}</strike><br>от {{site.sale-price-interior-commerce}}
</div>
{% endcapture %}
{% endif %}

								<div class="overlay-img-white-text">
									{{ price-commerce }}			
								</div>	
							</div>
						</div>
					</a>
					<!-- <p>Создаем эргономичные и имиджевые пространства под конкретные задачи бизнеса.</p> -->
					<div class="main-services-button ">
						<a href="{{ site.url-interior-commerce }}" class="ref-button-light">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /end Основные услуги-->
		<div class="row">
			<div class="col text-center">
				<div class="main-services-more-button">
					<a href="/uslugi/" class="ref-button-black">посмотреть Все услуги</a>
				</div>
			</div>
		</div>

	</div>
</section>