<ul>
	<li><a class="main-menu-a" href="">Главная</a></li>
	<li><a class="main-menu-a" href="about/">О нас</a></li>
	<li><a class="main-menu-a" href="uslugi/">Услуги</a></li>
	<li><a class="main-menu-a" href="portfolio/">Портфолио</a></li>
	<li><a class="main-menu-a" href="kontakty/">Контакты</a>
	<li>
		<div class="d-lg-none d-xl-block">
			<a class="main-menu-a phone target-ym-phone" href="{{site.phone-href}}">{{site.telephone}}</a>
		</div>
		<div class="d-none d-lg-block d-xl-none">
			<a class="social-link-circle target-ym-phone" href="{{site.phone-href}}">
				<span class="fa fa-mobile fa-lg"></span>
			</a>
		</div>
	</li>
	<li>
		<a class="social-link-circle" href="{{site.vk}}" rel="nofollow" target="_blank">
			<span class="fa fa-vk"></span>
		</a>
	</li>
	<li>
		<a class="social-link-circle" href="{{site.facebook}}" rel="nofollow" target="_blank">
			<span class="fa fa-facebook"></span>
		</a>
	</li>
	<li>
		<a class="social-link-circle" href="{{site.instagram}}" rel="nofollow" target="_blank">
			<span class="fa fa-instagram"></span>
		</a>
	</li>
</ul>