<div class="col portfolio-button-group">
	<div class="portfolio-button portfolio-button-left">
		<a href="#portfolio-interior" class="portfolio-scroll-to-design ref-button-light {{ include.design-button }}">Дизайн</a>
	</div>
	<div class="portfolio-button">
		<a href="#portfolio-architecture" class="portfolio-scroll-to-architect ref-button-light {{ include.architect-button }}">Архитектура</a>
	</div>
	<div class="portfolio-button">
		<a href="#portfolio-decor" class="portfolio-scroll-to-decor ref-button-light {{ include.decor-button }}">Декор</a>
	</div>
</div>