<div class="col-sm-6 col-md-4 portfolio-item">
	<a href="{{ post.url }}">
		<div class="portfolio-image">
			<div class="portfolio-image-inner">
				<img class="portfolio-image-img" src="{{ post.preview-img }}" alt="{{ post.title }}">
				<div class="portfolio-image-img-overlay-square"></div>
				<div class="portfolio-image-img-overlay-square-border"></div>
				<div class="portfolio-image-img-overlay">
					<div class="portfolio-image-img-overlay-txt">
						<div class="txt-nowrap">{{ post.preview-txt }}</div></div>
				</div>
			</div>
		</div>
	</a>
</div>