<div class="container-fluid service-steps-container">
		<div class="row justify-content-center justify-content-md-between">

			<div class="col-auto col-md-auto service-steps-item">
				<div class="row service-steps-item-first-row">
					<div class="col-auto service-steps-item-no">
						<div class="service-steps-item-no-txt">1</div>
					</div>
					<div class="col-auto align-self-center service-steps-item-head">
						<h4>Замер помещения</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-auto service-steps-item-space"></div>
					<p class="col-auto service-steps-item-text">Бесплатный выезд на замер помещения. Выявление предпочтений, фотофиксация объекта, обмерочный план.</p>
				</div>
			</div>

			<div class="col-auto col-md-auto service-steps-item">
				<div class="row service-steps-item-first-row">
					<div class="col-auto service-steps-item-no">
						<div class="service-steps-item-no-txt">2</div>
					</div>
					<div class="col-auto align-self-center service-steps-item-head">
						<h4>Заключение договора</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-auto service-steps-item-space"></div>
					<p class="col-auto service-steps-item-text">Разработка технического задания и заключение договора на основе данных обмерочного плана.</p>
				</div>
			</div>

			<div class="col-auto col-md-auto service-steps-item">
				<div class="row service-steps-item-first-row">
					<div class="col-auto service-steps-item-no">
						<div class="service-steps-item-no-txt">3</div>
					</div>
					<div class="col-auto align-self-center service-steps-item-head">
						<h4>Планировка и расстановка мебели</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-auto service-steps-item-space"></div>
					<p class="col-auto service-steps-item-text">Планировочное решение помещения, включающее в себя план расстановки мебели и функциональное зонирование помещения.</p>
				</div>
			</div>

			<div class="col-auto col-md-auto service-steps-item">
				<div class="row service-steps-item-first-row">
					<div class="col-auto service-steps-item-no">
						<div class="service-steps-item-no-txt">4</div>
					</div>
					<div class="col-auto align-self-center service-steps-item-head">
						<h4>Эскизный проект</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-auto service-steps-item-space"></div>
					<p class="col-auto service-steps-item-text">Все развертки по стенам с указанием размеров, цветовой схемы, а также функциональным наполнением помещения. Планы инженерных
						сетей.
					</p>
				</div>
			</div>

			<div class="col-auto col-md-auto service-steps-item">
				<div class="row service-steps-item-first-row">
					<div class="col-auto service-steps-item-no">
						<div class="service-steps-item-no-txt">5</div>
					</div>
					<div class="col-auto align-self-center service-steps-item-head">
						<h4>Подбор материалов</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-auto service-steps-item-space"></div>
					<p class="col-auto service-steps-item-text">Принципиальный подбор материалов, мебели, оборудования, освещения на основе технического задания и оговариваемого бюджета.</p>
				</div>
			</div>

			<div class="col-auto col-md-auto service-steps-item">
				<div class="row service-steps-item-first-row">
					<div class="col-auto service-steps-item-no">
						<div class="service-steps-item-no-txt">6</div>
					</div>
					<div class="col-auto align-self-center service-steps-item-head">
						<h4>Рабочие чертежи</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-auto service-steps-item-space"></div>
					<p class="col-auto service-steps-item-text">Вся документация, необходимая для проведения ремонтных работ по дизайн-проекту.</p>
				</div>
			</div>

			<div class="col-auto col-md-auto service-steps-item">
				<div class="row service-steps-item-first-row">
					<div class="col-auto service-steps-item-no">
						<div class="service-steps-item-no-txt">7</div>
					</div>
					<div class="col-auto align-self-center service-steps-item-head">
						<h4>3D-визуализация</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-auto service-steps-item-space"></div>
					<p class="col-auto service-steps-item-text">Фотореалистичная 3D-визуализация, наглядно демонстрирующая внешний вид будующего помещения по разработанному дизайн-проекту.</p>
				</div>
			</div>

			<div class="col-auto col-md-auto service-steps-item">
				<div class="row service-steps-item-first-row">
					<div class="col-auto service-steps-item-no">
						<div class="service-steps-item-no-txt">8</div>
					</div>
					<div class="col-auto align-self-center service-steps-item-head">
						<h4>Готовый дизайн-проект</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-auto service-steps-item-space"></div>
					<p class="col-auto service-steps-item-text">Электронный и распечатанный фирменный экземпляр готового дизайн проекта помещения.</p>
				</div>
			</div>

		</div>
		<p class="service-steps-ps">▪ Работа над проектом осуществляется поэтапно. Каждый этап согласовывается с вами, что позволяет нам создавать интерьеры,
			максимально соответсвующие вашим пожеланиям.</p>

	</div>