<div class="services-item {{ include.class-name }}">
	<div class="row no-gutters">
		<div class="col-md-6">
			<a href="{{ include.url }}">
				<div class="services-image">
					<img class="services-image-img" src="{{ include.image }}" alt="{{ include.image-alt }}">

{% capture price %}
от {{ include.price }}
{% endcapture %}
{% if include.sale == true %}
{% capture price %}
<div class="overlay-img-white-text">
	<strike>от {{include.price}}</strike><br>от {{include.sale-price}}
</div>
{% endcapture %}
{% endif %}

					<div class="overlay-img-white">{{ price }}</div>
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<div class="services-descript">
				<h4>{{ include.header-text }}</h4>
				<p>{{ include.description-text }}</p>
				<div class="services-button">
					<a href="{{ include.url }}" class="ref-button-light">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</div>