{% include /header-page.html %}

{% include /top-line.html %}

	<section class="visualization service">
		<div class="container-fluid">

				<div class="row">
					<div class="col">
						<h1>3D<br>визуализация</h1> 
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="service-img" style="background-image: url(img/main/6-dizajn-interera.jpg);"></div>
					</div>
					<div class="col-md-6 service-descript">
						<p>Создаем фотореалистичные визуализации объектов, помещений, домов, с различным уровнем детализации. Возможно полное погружение
							в визуализированное пространство при помощи технологии VR (очки виртуальной реальности).</p>
					</div>
				</div>

		</div>
	</section>

	<section class="service-price">
		<div class="container-fluid">
			
			<div class="row justify-content-center">

				<div class="col-12 text-center">
					<h3>Стоимость <br class="d-sm-none">3D визуализации:</h3>
				</div>

				<div class="col-auto text-center">
					<div class="service-price-value">{{site.price-visualisation}}</div>
					<p>Площадь - от 40 м2</p>
				</div>

				<div class="col-auto">
					<div class="service-price-figure">
							<div class="service-price-figure-r"><span class="fa fa-rub"></span></div>
							<div class="service-price-figure-l"></div>
							<div class="service-price-figure-m">
								<div class="service-price-figure-m-txt">м2</div>
							</div>
					</div>						
				</div>

			</div>

			<div class="row justify-content-center service-price-ps">
				<div class="col-md-10">
					<p class="service-price-ps-p">* Стоимость визуализации при меньшей площади можно уточнить по телефону <a style="display:inline-block" href="tel:89171180270">8-917-118-02-70</a>.</p>
					<div class="service-price-button">
						<a href="/portfolio" class="ref-button-black">Посмотреть портфолио</a>
					</div>
				</div>
			</div>

		</div>
	</section>

{% include /footer.html %}