{% include /header-page.html %}

{% include /top-line.html %}

	<section class="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col offset-lg-1">
					<h1>Наша<br>команда</h1>
				</div>
			</div>
			<div class="row">
		
				<div class="col-md-6 offset-lg-1">
					<div class="row">
						<div class="col col-lg-10">
								<div class="about-descript">
										<p>Наша команда создает стильные, функциональные и эстетичные интерьеры для самых разных помещений. Мы работаем как с большими,
											так и с маленькими площадями, как с квартирами, так и с мастерскими, офисами, а также коммерческими помещениями. Считаем,
											что каждое помещение достойно быть комфортным и уютным. Сложные задачи для нас – это в первую очередь повод для интересных
											и необычных решений. Мы любим работать с общей геометрией пространства и в каждый свой проект вносим нотки индивидуальности.</p>
									</div>
						</div>
					</div>					
				
					<div class="about-team-dasha">
						<img class="about-team-image" src="img/team/dasha.jpg" alt="Дарья Гончарова, дизайнер">
						<div class="about-team-contact">
							<div class="about-team-name">Дарья Гончарова</div>
							<div class="about-team-status">DESIGNER</div>
							<div class="about-team-number-line"></div>
							<a class="about-team-number" href="{{site.phone-href}}">{{site.telephone}}</a>
						</div>
						<div class="row">
								<div class="col-lg-10">
										<div class="about-team-descript">
											<p>Командная работа над проектом, позволяет взглянуть на задачу с разных точек зрения и придти к самому гармоничному варианту
												помещения, учитывая все нюансы. Каждый этап работы над проектом непосредственно согласовывается с вами, что позволяет
												достичь именно того результата, который будет соответствовать вашим ожиданиям.</p>
										</div>
									</div>
						</div>											
					</div>

				</div>
		
				<div class="col-md-4">
					<img class="about-team-image" src="img/team/dima.jpg" alt="Дмитрий Новиков, архитектор, дизайнер">
					<div class="about-team-contact">
							<div class="about-team-name">Дмитрий Новиков</div>
							<div class="about-team-status">ARCHITECT<br>DESIGNER</div>
							<div class="about-team-number-line"></div>
							<a class="about-team-number" href="{{site.phone-second-href}}">{{site.telephone-second}}</a>							
					</div>					
					<div class="about-team-descript ">
						<p>С душой относимся к каждому нашему проекту, так как каждый интерьер - это новое путешествие. Мы хотим видеть, как наши проекты
							меняют жизни людей и города в целом.​</p>
					</div>

					<div class="about-team-slava">
						<img class="about-team-image" src="img/team/slava.jpg" alt="Вячеслав Гусев">
						<div class="about-team-contact">
							<div class="about-team-name">Вячеслав Гусев</div>
							<div class="about-team-status">IT SPECIALIST</div>
						</div>
						<div class="about-team-descript">
							<p>При создании дизайна мы стараемся разрабатывать уникальные решения по мебели и декоративным элементам, учитывая все ваши желания. Благодаря чему каждый дизайн обладает собственной индивидуальностью.</p>
						</div>
					</div>
					
				</div>
		
			</div>
		</div>
	</section>

{% include /footer.html %}