{% include /header-page.html %}

{% include /top-line.html %}

	<section class="architecture service">
		<div class="container-fluid">

				<div class="row">
					<div class="col">
						<h1>Архитектурный<br>проект</h1> 
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="service-img" style="background-image: url({{ site.image-architecture }});"></div>
					</div>
					<div class="col-md-6 service-descript">
						<p>Архитектурное проектирование представляет собой разработку рабочих и эскизных проектов зданий разного назначения, а также
							проектной документации на реконструкцию или новое строительство. Важным моментом для архитектурного проектирования является
							сохранение облика города, поддержание и обыгрывание уже существующих архитектурных решений, иначе говоря – органичное
							вписывание новых архитектурных форм, используя новые технологии. Архитектурное проектирование достаточно явно сопоставляет
							как функциональное использование создаваемого здания, так и его внешний вид.</p>
					</div>
				</div>

		</div>
	</section>

	<section class="service-price">
		<div class="container-fluid">
			
			<div class="row justify-content-center">

				<div class="col-12 text-center">
					<h3>Стоимость <br class="d-sm-none">архитектурного проекта:</h3>
				</div> 

				<div class="col-auto text-center">
					<div class="service-price-value">{{site.price-architecture}}</div>
					<p>Площадь - от 40 м2</p>
				</div>

				<div class="col-auto">
					<div class="service-price-figure">
							<div class="service-price-figure-r"><span class="fa fa-rub"></span></div>
							<div class="service-price-figure-l"></div>
							<div class="service-price-figure-m">
								<div class="service-price-figure-m-txt">м2</div>
							</div>
					</div>						
				</div>

			</div>

			<div class="row justify-content-center service-price-ps">
				<div class="col-md-10">
					<p class="service-price-ps-p">▪ Стоимость рассчитывается по площади первого этажа объекта. Более точную оценку стоимости можно узнать по телефону <a style="display:inline-block" href="tel:89171180270">{{site.telephone}}</a>.</p>
					<p class="service-price-ps-p">▪ Для больших площадей действует система скидок.</p>
					<p class="service-price-ps-p">▪ Срок выполнения архитектурного проекта зависит от общей площади помещения, сложности конструкций, стилистики и времени согласования каждого этапа работы по проекту.</p>
					<div class="architecture service-price-button">
						<a href="/portfolio/?scroll_id=portfolio-architecture" class="ref-button-black">Посмотреть портфолио</a>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="service-scope">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h3>Состав <br class="d-md-none">архитектурного проекта:</h3>
				</div>
				<div class="col-md-10">
					<ul>
						<li>1. Планы этажей </li>
						<li>2. План перекрытий</li>
						<li>3. План расстановки мебели</li>						
						<li>4. План земляных работ</li>
						<li>5. Фасады здания</li>
						<li>6. Чертежи конструкций фундамента</li>
						<li>7. Чертежи стеновых конструкций</li>						
						<li>8. Чертежи конструкций кровли</li>
						<li>9. Ввод/вывод инженерных сетей</li>
						<li>10. Схема узлов сложных конструкций</li>
						<li>11. 3D-визуализация</li>
						<li>12. Спецификации по материалам</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="service-steps">
		<div class="container-fluid service-steps-container">
			<div class="row">
				<div class="col-12 text-center">
					<h3>Этапы работы:</h3>
				</div>
			</div>
	
			<div class="row justify-content-center justify-content-md-between">
	
				<div class="col-auto col-md-auto service-steps-item">
					<div class="row service-steps-item-first-row">
						<div class="col-auto service-steps-item-no">
							<div class="service-steps-item-no-txt">1</div>
						</div>
						<div class="col-auto align-self-center service-steps-item-head">
							<h4>Оценка территории</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-auto service-steps-item-space"></div>
						<p class="col-auto service-steps-item-text">Выезд на предполагаемую территорию застройки, ознакомление с ней</p>
					</div>
				</div>
	
				<div class="col-auto col-md-auto service-steps-item">
					<div class="row service-steps-item-first-row">
						<div class="col-auto service-steps-item-no">
							<div class="service-steps-item-no-txt">2</div>
						</div>
						<div class="col-auto align-self-center service-steps-item-head">
							<h4>Заключение договора</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-auto service-steps-item-space"></div>
						<p class="col-auto service-steps-item-text">Разработка технического задания. Предварительное планировочное решение. Заключение договора</p>
					</div>
				</div>
	
				<div class="col-auto col-md-auto service-steps-item">
					<div class="row service-steps-item-first-row">
						<div class="col-auto service-steps-item-no">
							<div class="service-steps-item-no-txt">3</div>
						</div>
						<div class="col-auto align-self-center service-steps-item-head">
							<h4>Топосъемка участка</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-auto service-steps-item-space"></div>
						<p class="col-auto service-steps-item-text">Выполнение топографической и геодезической съемки участка. Привязка предполагаемого здания к участку</p>
					</div>
				</div>
	
				<div class="col-auto col-md-auto service-steps-item">
					<div class="row service-steps-item-first-row">
						<div class="col-auto service-steps-item-no">
							<div class="service-steps-item-no-txt">4</div>
						</div>
						<div class="col-auto align-self-center service-steps-item-head">
							<h4>Эскизный проект</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-auto service-steps-item-space"></div>
						<p class="col-auto service-steps-item-text">Все фасады с указанием размеров, цветовой схемы, а также функциональным наполнением. Планы инженерных сетей</p>
					</div>
				</div>
	
				<div class="col-auto col-md-auto service-steps-item">
					<div class="row service-steps-item-first-row">
						<div class="col-auto service-steps-item-no">
							<div class="service-steps-item-no-txt">5</div>
						</div>
						<div class="col-auto align-self-center service-steps-item-head">
							<h4>Подбор материалов</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-auto service-steps-item-space"></div>
						<p class="col-auto service-steps-item-text">Принципиальный подбор материалов, мебели, оборудования, освещения на основе технического задания и оговариваемого бюджета</p>
					</div>
				</div>
	
				<div class="col-auto col-md-auto service-steps-item">
					<div class="row service-steps-item-first-row">
						<div class="col-auto service-steps-item-no">
							<div class="service-steps-item-no-txt">6</div>
						</div>
						<div class="col-auto align-self-center service-steps-item-head">
							<h4>Рабочая документация</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-auto service-steps-item-space"></div>
						<p class="col-auto service-steps-item-text">Вся документация, необходимая для строительства объекта</p>
					</div>
				</div>
	
				<div class="col-auto col-md-auto service-steps-item">
					<div class="row service-steps-item-first-row">
						<div class="col-auto service-steps-item-no">
							<div class="service-steps-item-no-txt">7</div>
						</div>
						<div class="col-auto align-self-center service-steps-item-head">
							<h4>3D-визуализация</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-auto service-steps-item-space"></div>
						<p class="col-auto service-steps-item-text">Фотореалистичная 3D-визуализация, наглядно демонстрирующая внешний вид здания по разработанному архитектурному проекту</p>
					</div>
				</div>
	
				<div class="col-auto col-md-auto service-steps-item">
					<div class="row service-steps-item-first-row">
						<div class="col-auto service-steps-item-no">
							<div class="service-steps-item-no-txt">8</div>
						</div>
						<div class="col-auto align-self-center service-steps-item-head">
							<h4>Готовый<br>архитектурный проект</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-auto service-steps-item-space"></div>
						<p class="col-auto service-steps-item-text">Электронный и распечатанный фирменный экземпляр готового архитектурного проекта</p>
					</div>
				</div>

			</div>
			<div class="service-steps-ps">
					<p>▪ Работа над проектом осуществляется поэтапно. Каждый этап согласовывается с вами.</p>
					<p>▪ В визуализацию объекта не входит визуализация прилегающей территории.</p>
			</div>			
					
		</div>
	</section>

{% include /footer.html %}