{% include /header-page.html 
	chat=site.yandex-dialog-widget %}

{% include /top-line.html %}

	<section class="architecture service">
		<div class="container-fluid">

				<div class="row">
					<div class="col">
						<h1>Авторский<br>надзор</h1> 
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="service-img" style="background-image: url(img/main/7-avtorskij-nadzor.jpg);"></div>
					</div>
					<div class="col-md-6 service-descript">
						<p>Осуществляем авторский надзор за реализацией проекта. Возможна полная комплектация мебелью и материалами. Авторский надзор
							позволяет быть уверенным, что все будет реализовано так, как согласовано в проекте. При этом вы можете не беспокоится о
							ходе ремонта и уехать на отдых. Это услуга сопровождения рабочего проекта вплоть до его реализации. Необходимость авторского
							надзора возрастает, если вы привлекаете своих строителей.</p>
					</div>
				</div>

		</div>
	</section>

	<section class="service-price supervision">
		<div class="container-fluid">
			
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h3>Стоимость <br class="d-sm-none">авторского надзора:</h3>
				</div>

				<div class="col-auto text-center">
					<div class="service-price-value">{{site.price-supervision}}</div>
				</div>
			</div>

			<div class="row justify-content-center service-price-ps">
				<div class="col-md-10">
					<p class="service-price-ps-p">▪ Стоимость авторского надзора согласовывается индивидуально и зависит от площади, локации объекта, а так же от сложности проводимых на нем работ.</p>
					<p class="service-price-ps-p">▪ Стоимость авторского надзора не включает услугу комплектации. Она предоставляется за отдельную плату.</p>
				</div>
			</div>

		</div>
	</section>

	<section class="service-scope supervision">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h3>Авторский надзор</h3>
				</div>
				<div class="col-md">
					<div class="service-scope-h4">
							<h4>включает</h4>
					</div>
					<ul>
						<li>1. Ответы на вопросы по дизайн проекту, которые обязательно появляются у строителей в ходе работ.</li>
						<li>2. Проверку соответствия результата дизайн-проекту. Только внешнее, дизайнер не несёт ответственности за технологию проведения работ.</li>
						<li>3. Выезд дизайнера на объект для проведения осмотра, фотофиксации, ведения журнала авторского надзора. В журнале отмечаются недочеты, переделки, правки и корректировки. Решения о переделках принимаются клиентом​​.</li>
						<li>4. Внесение необходимых корректировок в чертежи и доставка их на объект.</li>
						<li>5. Количество выездов на объект - 2 раза в неделю, по 2 часа.</li>
						<li>6. Неограниченная консультация по текущему проекту по телефону или интернет-ресурсам в рабочее время.</li>
					</ul>
				</div>
				<div class="col-md offset-md-1">
					<div class="service-scope-h4">
							<h4>не включает</h4>
					</div>
					<ul>
						<li>1. Управление строителями. Эту функцию выполняет прораб.</li>
						<li>2. Технический контроль выполнения работ.</li>
						<li>3. Комплектация объекта материалами, если данная услуга не включена в договор.</li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-center service-scope-ps">
					<div class="col">
						<p class="service-price-ps-p">▪ В процессе авторского надзора дизайнер контролирует, а не управляет процессом. Обо всех отклонениях от проекта дизайнер сообщает непосредственно вам и решение принимаете вы.</p>
						<p class="service-price-ps-p">▪ Стоимость авторского надзора может варьироваться в зависимости от условий договора и удаленности объекта от города.</p>
					</div>
				</div>
		</div>
	</section>

{% include /footer.html %}