{% include /header-page.html 
	chat=site.yandex-dialog-widget %}

{% include /top-line.html %}

	<section class="dekorirovanie service">
		<div class="container-fluid">

				<div class="row">
					<div class="col">
						<h1>Декорирование</h1> 
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="service-img" style="background-image: url(img/main/3-dekorirovanie.jpg);"></div>
					</div>
					<div class="col-md-6 service-descript">
						<p>Декорирование это финальная нота, позволяющая показать пространство с лучшей стороны, это скурпулезная внимательность к каждой детали с целью  подчеркнуть и раскрыть идею интерьера или вложить совершенно новый смысл.
							Через декорирование пространство по настоящему воплощается во всей своей красоте и благодаря множеству мельчайших элементов создается по настоящему живая и уютная атмосфера, которая так необходима каждому пространству.</p>
					</div>
				</div>
				<!-- Предоставляем услугу по подбору и наполнению вашего пространства декоративными элементами.-->
		</div>
	</section>

	<section class="service-price dekorirovanie">
		<div class="container-fluid">
			
			<div class="row justify-content-center">

				<div class="col-12 text-center">
					<h3>Стоимость <br class="d-sm-none">декорирования</h3>
				</div>

				<div class="col-auto text-center">
					<div class="service-price-value">{{site.price-decor}}</div>
					<p>Площадь - от 40 м2</p>
				</div>

				<div class="col-auto">
					<div class="service-price-figure">
							<div class="service-price-figure-r"><span class="fa fa-rub"></span></div>
							<div class="service-price-figure-l"></div>
							<div class="service-price-figure-m">
								<div class="service-price-figure-m-txt">м2</div>
							</div>
					</div>						
				</div>
 
			</div>

			<div class="row justify-content-center service-price-ps">
				<div class="col-md-10">
					<p class="service-price-ps-p">▪ Стоимость декорирования можно уточнить по телефону <a style="display:inline-block" href="tel:89171180270">{{site.telephone}}</a>.</p>
					<p class="service-price-ps-p">▪ В услугу декорирования может быть включена услуга комплектации, за дополнительную плату.</p>
					<p class="service-price-ps-p">▪ В случае нахождения объекта за пределами г. Самары действует система доплаты за
						выезд.</p>
					<div class="service-price-button">
						<a href="/portfolio/?scroll_id=portfolio-decor" class="ref-button-black">Посмотреть портфолио</a>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="service-scope">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h3>Декорирование включает:</h3>
				</div>
				<div class="col-md-10">
					<ul>
						<li>1. План обмера</li>
						<li>2. Анализ и разработка общей концепции интерьера</li>
						<li>3. Принципиальный поиск и подбор декоративных элементов</li>
						<li>4. Визуализация подобранных элементов декора в помещении с помощью фотоколлажной техники</li>
						<li>5. Закупка и комплектация декором, при включении данной услуги в договор</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	{% include /footer.html %}