{% include /header-page.html %}

{% include /top-line.html %}

	<section class="architecture service">
		<div class="container-fluid">

				<div class="row">
					<div class="col">
						<h1>Консультация</h1> 
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="service-img" style="background-image: url(img/main/8.jpg);"></div>
					</div>
					<div class="col-md-6 service-descript">
						<p>Предоставляем консультации по вопросам организации вашего пространства, а также выбору нового жилья. Даем рекомендации по
							подбору материалов, мебели и декора, также подсказываем оптимальное планировочное помещение для вашего помещения. Итог
							консультации — это «аудит» ситуации и профессиональные рекомендации по декорированию, отделке и планировке помещения с
							учетом ваших пожеланий.</p>
					</div>
				</div>

		</div>
	</section>

	<section class="service-price consultation">
		<div class="container-fluid">
			
			<div class="row justify-content-center">

				<div class="col-12 text-center">
					<h3>Стоимость <br class="d-sm-none">консультации</h3>
				</div>

				<div class="col-auto text-center">
					<div class="service-price-value">{{site.price-consultation}}</div>
					<p>Длительность - 2 ч</p>
				</div>

				<div class="col-auto">
					<div class="service-price-figure">
							<div class="service-price-figure-r"><span class="fa fa-rub"></span></div>
							<div class="service-price-figure-l"></div>
							<div class="service-price-figure-m">
								<div class="service-price-figure-m-txt"><span class="fa fa-angle-up"></span></div>
							</div>
					</div>						
				</div>

			</div>

			<div class="row justify-content-center service-price-ps">
				<div class="col-md-10">
					<p class="service-price-ps-p">▪ Стоимость указана за базовую консультацию.</p>
					<p class="service-price-ps-p">▪ В стоимость не входит поездка по магазинам, а также время работы, выходящее за рамки оплаченного, если это не оговорено ранее.</p>
					<p class="service-price-ps-p">▪ Вся информация (кроме обмерного плана и плана расстановки мебели) предоставляется в устной форме единоразово.</p>
					<p class="service-price-ps-p">▪ В случае нахождения объекта за пределами г. Самары действует система доплаты за выезд.</p>
				</div>
			</div>

		</div>
	</section>

	<section class="service-scope">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h3>Базовая консультация включает:</h3>
				</div>
				<div class="col-md-10">
					<ul>
						<li>1. Ответы на ваши вопросы</li>
						<li>2. Обмерный план (электронная версия, предоставляется в течение 5 рабочих дней)</li>
						<li>3. Вариант оптимального планировочного решения (электронная версия, предоставляется в течение 5 рабочих дней)</li>
						<li>4. Советы по стилистическим решениям</li>
						<li>5. Вариация цветового решения интерьера</li>
						<li>6. Рекомендации по подбору материалов</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	{% include /footer.html %}