{% include /header-page.html %}

{% include /top-line.html %}

<section class="service">
	<div class="container-fluid">

		<div class="row">
			<div class="col">
				<h1>Ремонт<br>под ключ</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="service-img" style="background-image: url(img/main/4-remont-pod-klyuch.jpg);"></div>
			</div>
			<div class="col-md-5 service-descript">
				<p>Большое внимание мы уделяем не только самому проекту, но и его реализации в качественном виде.
					Исходя из своего опыта можем сказать - очень сложно найти профессиональных мастеров во главе с прорабом,
					которые грамотно выполнят свои работы с соблюдением всех технологий.
					Реализовав множество проектов, мы нашли профессионалов своего дела, которые теперь реализуют наши проекты.
				</p>
			</div>
		</div>

	</div>
</section>

<section class="service-price repair">
	<div class="container-fluid">

		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<h3>Стоимость <br class="d-sm-none">ремонта:</h3>
			</div>
		</div>

		<div class="row justify-content-center service-price-ps">
			<div class="col">
				<p class="service-price-ps-p">Стоимость ремонтных и строительных работ расчитывается исходя из состояния
					объекта, его параметров, стилистики предполагаемого интерьера и качества используемых	материалов.</p>
			</div>
		</div>

	</div>
</section>


{% include /footer.html %}